.master{
    width: 590px;
    height: 600px;
    margin:0 auto;
}
.left{
   width:350px ; 
   height: 600px; 
   float: left;
}
.coral{
    width: 300px;
    height: 250px;
    background-color:indianred;
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 40px;
    
}
.yellow{
   width: 180px; 
   height: 110px;
   background-color: yellow;
   float: left;
   margin-top:10px;
   margin-right:20px;
   margin-left: 10px;
}
.green{
    width:100px;
    height: 110px;
    background-color:green;
    float: left;
    margin-top: 10px;
}
.chocolate{
    width: 60px;
    height: 120px;
    background-color:black;
    float: left;
    margin-top: 50px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.right{
    width: 240px;
    height: 600px;
    float: left;
}
.brown{
    width:70px;
    height:270px ; 
    background-color:rgb(85, 14, 14);
    float: left;
    margin-top: 10px;
    margin-right:10px;
}
.darkgreen{
    width:70px;
    height:270px;
    background-color: darkgreen;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.gray{
    width:70px;
    height:270px;
    background-color: gray;
    float: left;
    margin-top: 10px;
    margin-right: 10px;

}
.purple{
    width:110px;
    height:100px;
    background-color: blueviolet;
    float: left;
    margin-top: 30px;
    margin-right:20px;
}
.pink{
    width:100px;
    height: 100px;
    background-color:hotpink;
    float: left;
    margin-top: 30px;
}
.greenolive{
    width: 230px;
    height: 60px;
    background-color:darkolivegreen;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.liteblue{
    width: 230px;
    height: 60px;
    background-color: darkcyan;
    float: left;

}